beautifulsoup4==4.12.2
contractions==0.1.73
gensim==4.3.1
lxml==4.9.2
nltk==3.8.1
num2words==0.5.12
numpy==1.24.3
opencv-python==4.7.0.72
pandas==2.0.1
regex==2023.5.5
requests==2.30.0
spacy==3.5.3
tqdm==4.65.0